@import "helpers";
@import "lib";
@import "global";

.ql-container.ql-snow {
    //border: none !important;
    height: calc(100vh - 48vh);
}
//.quill-editor.ql-editor {
//    max-height: calc(100vh - 20vh);
//}
.post-markdown {
    a {
        font-weight: bold;
        color: var(--accent-color) !important;
        cursor: pointer;
        background: none !important;
    }
}

.ql-video {
    width: 100%;
    aspect-ratio: 16/9;
}

#quill-mention-list {
    border: 1px solid #ccc;
//     background-color: #f9f9f9;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.ql-mention-list-item {
    padding: 4px 8px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color 0.3s, border 0.3s;
}

.ql-mention-list-item:hover {
    background-color: #e0e0e0;
    color: #000000;
    border-color: #bdbdbd;
}

.ql-mention-list-item.selected {
//     background-color: #d1e7fd;
    border-color: #FCC14B;
}

.v-textcomplete__inner.textcomplete {
    font-size: 1.25rem !important;
    background: none !important;
    color: var(--primary-invert-color) !important;
}

#commentPostText {
    height: 100% !important;
    overflow: visible !important;
    .autocomplete {
        background-color: var(--primary-color) !important;
        color: var(--primary-invert-color) !important;

        li:hover {
            color: black;
        }
    }
}
