@import "helpers";
@import "lib";
@import "global";

.ql-container.ql-snow {
    //border: none !important;
    height: calc(100vh - 48vh);
}
//.quill-editor.ql-editor {
//    max-height: calc(100vh - 20vh);
//}
.post-markdown {
    a {
        font-weight: bold;
        color: var(--accent-color) !important;
        cursor: pointer;
        background: none !important;
    }
}

.ql-video {
    width: 100%;
    aspect-ratio: 16/9;
}
